[submodule "components/esp-mqtt"]
	path = components/esp-mqtt
	url = https://github.com/256dpi/esp-mqtt.git
[submodule "mkspiffs"]
	path = mkspiffs
	url = https://github.com/igrr/mkspiffs.git
[submodule "components/esp-request"]
	path = components/esp-request
	url = https://github.com/tuanpmt/esp-request
