CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_BT_ENABLED=y
CONFIG_BTDM_CTRL_BLE_MAX_CONN=9
CONFIG_BTDM_BLE_SCAN_DUPL=n
CONFIG_BT_GATTS_ENABLE=n
CONFIG_BT_ACL_CONNECTIONS=7
